//npm.pkg.github.com/:_authToken=${NPM_TOKEN}
@volkswagen-onehub:registry=https://npm.pkg.github.com/volkswagen-onehub
@vwsdclx:registry=https://npm.pkg.github.com/vwsdclx
@pre-delivery-enrolment:registry=https://npm.pkg.github.com/pre-delivery-enrolment
legacy-peer-deps=true